// ********
// Default Card
// ********
.card {
	border-radius: 8px;
	transition-duration: 0.4s;
	width: 100%;
	&-img {
		background-color: #bfd4e4;
		height: 12rem;
		border-radius: 8px;
	}
	&-body {
		padding: 1rem 0;
	}
	&-title {
		color: $blue;
	}
	&-date {
		color: $s300;
		padding: 0.5rem 0;
	}
	&-text {
		color: $s100;
		margin-bottom: 1rem;
	}
}
