//**********
// Color
//**********

// Primary
$orange: #EC8932;
$blue: #032B43;

// Shades
$s100: #2D2D2A;
$s200: #666666;
$s300: #999999;
$s400: #CCCCCC;

// Background
$light: #FAFAFA;
$dark: #262626;
$light2: #F5F5F5;

// Accents
$red: #D00000;
$darkblue: #011627;